body { 
	padding-top: 100px; 
	background-image: url("../images/background_tomato_eating.jpg");
	background-size: cover;
	font-family: "Century Gothic", sans-serif; /* fix font */
}

.navbar{	
	padding-top: 40px;
	background-color: rgba(255,204,51,0.5);
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
}

#navContainer {
	margin-left: 0px;
	position: relative;

}

.navbar #quote {
	padding-left : 100px;
	float:left;
	padding-top: 25px;
	font-weight: bold;
	font-style: italic;
	font-size: 17px;
}

.navbar #myHeader {
	font-size: 40px;
	font-weight: bold;
	float: left;
	padding-left: 10px;

}

#mainStart {
	margin-left: 20px;
}

#welcomeBox {
	padding: 10px 10px 10px 30px;
	margin-top: 350px; /* fixed, might be bad (?) */
	float: left;
	background-color: rgba(255,255,255,0.8);
	width: 65%;	
	font-weight: bold;

}

.container .btn-default {
	width: 50%;
	max-height: 70px;
	min-height: 25px;
	margin-bottom: 20px;
	background-color: rgba(250,146,27,1);
	box-shadow: 3px 3px;
	border: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
	font-weight: bolder;
	font-size: 30px;
}

#confirmButton button {
	width:100%;
	margin-right: 10px;
	font-size: 15px;
	height: 10px;
}

hr {
	border-color: #000000;
	color: #000000;
}

#mainFirst {
	margin-left: 0px;
	margin-top: 113px; /*ugly, fix relative to top banner */
	padding-left: 0px;
	position: fixed;
}

#sidebar {
	background-color: white;
	position: relative;
	border-style: solid;
	border-color: black;
	width: 25%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 0px;
}
.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#incrementor {
	float: left;
	width:10%;
	height: 100%;
}

#incrementor button {
	height: 49%;
	display: block;
	float: left;
}

#ppl input {
	float:left;
	height:100%;
	width: 20%;
}

#dishName {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-color: black;
	background-color: #d5d5d4;
	height: 40px;
	margin-left: -10px;
	margin-right: -10px;
}

#products {
	height: 60px;
	border-top-style: solid;
	border-top-color: white;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#products p {
	position: relative;
  	top: 40%;
  	transform: translateY(-40%);
}

#totalSum {
	height: 60px;
	border-top-style: solid;
	border-top-color: white;
	border-bottom-style: solid;
	border-bottom-color: white;
}

#totalSum p {
	position: relative;
  	top: 40%;
  	transform: translateY(-40%);
}

