body { 
	padding-top: 100px; 
}

.navbar{
	padding-top: 40px;
}

.navbar #quote {
	padding-left : 100px;
	float:left;
	padding-top: 25px;
}

.navbar #myHeader {

	font-size: 40px;
	font-weight: bold;
	float: left;
}