#chosenCourse {
    width: 50%;
    border: 2px solid black;

}

#selectedDishSearch {
    display: inline-block;
    border: 2px solid black;
    border-radius: 0px;
    width: 70%;
}

#selectedDishSearchButton {
    background-color: rgb(246,178,107);
    border-radius: 0px;
    box-shadow: 2px 2px;
    border: 2px solid black;
}

#foodList {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    height:100%;
    overflow-y: scroll;
}


.foodContainer {
    margin-top: 10px;
    margin-bottom: 0px;
    background-color = "green";
}

.selectDishFoodPicture {
    width:100%;
    border-radius: 0px;
    border-top: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.selectDishFoodTitle{
    width: 100%;
    border-radius: 0px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
    background-color: rgb(221,221,221);
    margin-bottom: 10px;
    white-space: normal;
}
